In [1]:
import pandas as pd

In [5]:
cols = ["score", "title", "review"]

train = pd.read_csv("../data/amazon_review_full_csv/train.csv", names=cols)
test = pd.read_csv("../data/amazon_review_full_csv/test.csv", names=cols)

In [7]:
test.head()

,score,title,review
0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,2,Oh dear,I was excited to find a book ostensibly about ...
4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."